@font-face {
  font-family: "iconfont"; /* Project id 3473505 */
  src: url('iconfont.woff2?t=1655780519551') format('woff2'),
       url('iconfont.woff?t=1655780519551') format('woff'),
       url('iconfont.ttf?t=1655780519551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e7b3";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-my:before {
  content: "\e78b";
}

.icon-huiyuanjulebu:before {
  content: "\e73a";
}

.icon-gouwu:before {
  content: "\e88c";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-icon-fuwu:before {
  content: "\e603";
}

.icon-zhinanzhen:before {
  content: "\e6d2";
}

.icon-elemo:before {
  content: "\e640";
}

